<ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Categorias
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-img src="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2019/04/como-saber-que-una-papa-esta-podrida.jpg"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>DIrectamente del Productor</ion-card-subtitle>
            <ion-card-title>Papas</ion-card-title>
        </ion-card-header>
    </ion-card>


</ion-content>